
<ion-header no-border>
  <div class="login-header">
    <img src="assets/logoblancgris.png" class="logo-img">
  </div> 
</ion-header>
<ion-content>
<div class="center">
  <div heading-column-lr>
    <h4 class="modal-title">Authentification</h4>
    <!-- <h2 small-heading>S'enregistrer</h2> -->
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()" style="margin-top: 100px;">
    <div class="form-group">
      
      <input type="text" placeholder="Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
  </div>
  <div class="form-group">
    <input type="password" placeholder="Mot de passe" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
</div>
<div class="float-right">
<a [routerLink]="['/resetpassword']" class="small-text" >Forgot Password?</a>
</div>
<div class="form-group">
  <button [disabled]="loading" class="btn btn-block" >connexion</button>
</div>
        
   
</form>

    </div>
</ion-content>