
<ion-header no-border>
  
  
</ion-header>
<ion-content>


<div class="wrapper fadeInDown">
  <div id="formContent">
   
    <div class="fadeIn first">
      <img src="/assets/img/LOGO-VERT.png" id="icon" alt="User Icon" />
    </div>

  
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" style="margin-top: 30px;" >
      <div class="form-group inputIconBg" >
          <ion-input type="text" id="email"  name="email" placeholder="Email" formControlName="email"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
          </ion-input>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Veuillez saisir votre adresse email</div>
        <div *ngIf="f.email.errors.email">Veuillez saisir un mail valide</div>
    </div>
    </div>
  
    <div class="form-group inputIconBg">
      <ion-input type="password" id="password" class="fadeIn third" name="login" placeholder="Mot de passe"formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <i class="fa fa-lock fa-lg fa-fw" ></i> 
      </ion-input> 
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Veuillez saisir votre mot de passe</div>
        <div *ngIf="f.password.errors.minlength">Veuillez saisir un mot de passe valide</div>
    </div>
    </div>
    
     
   
    <div class="form-group">
      <ion-input type="submit" class="fadeIn fourth" [disabled]="loading" value="Connexion" > </ion-input>
    </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/resetpassword">Mot de passe oublié?</a>
    </div>

  </div>
</div>

</ion-content>