

<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title> Controle permanent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/img/LOGO-VERT.png" alt="" />
        <ion-card-header>
          <ion-card-subtitle>Bienvenue à l'apllication controle permanent</ion-card-subtitle>
          <ion-card-title> Et détection de faux documents
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Naviguer facilement et rapidement.          
          </p>
        </ion-card-content>
      </ion-card>
      <form [formGroup]="sendForm" (ngSubmit)="Send()">

        <div class="form-group">
          <input type="text" placeholder="Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
      </div>
    
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-block" >connexion</button>
      </div>
    
       
      </form>
</ion-content>
