/* FORM TYPOGRAPHY*/

ion-toolbar{
    text-align: center;
}

ion-input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 25px 32px;
  text-align: center;
  height: 35px;
  
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 30px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

ion-input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #e28008;
  border-color: #e28008;
}

ion-input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */




/* OTHERS */



#icon {
  width:60%;
  

}



  
  
/* Styles go here */

div{
	position: relative;
  }
  
  [placeholder]:focus::-webkit-input-placeholder {
	color: black;
  }
  /*test*/
 
 
  ion-input{
	 
	  border: 0;
	  font-family: inherit;
	  -webkit-appearance: none;
	  border-radius: 0;
      padding: 0;
	  cursor: text;
  }
  ion-input:focus{
	  outline: 0;
	  border-bottom: 0.05em;
  }
 
 
  .form-group i {
    position: absolute;
    color: #aaaaaa;
    top: -2px;
    transition: 0.3s;
  }
  .form-group.inputIconBg i {
    background-color: #e28008;
    color: #fff;
    font-size: 20px;
    padding-bottom: 17px;
    padding: 10px;
    padding-right: 25px;

    border-radius: 4px 0 0 4px;
  }
  ion-button{
      width: 25%;
      color:white;
      font-size: 10px;
      font-weight: bold;
      margin: auto;
  }
  
  