

<ion-header>
  <ion-toolbar color="primary">
     
    
    <ion-title> Controle permanent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        
      </ion-card>
      <form [formGroup]="sendForm" (ngSubmit)="Send()">

        <div class="form-group inputIconBg">
          <ion-input type="text" placeholder="Veuillez saisir votre email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
            <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
          </ion-input>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Veuillez saisir votre email</div>
              <div *ngIf="f.email.errors.email">Veuillez saisir un email valide</div>
          </div>
      </div>
    
      <div class="form-group">
        <ion-button [disabled]="loading" class="btn btn-block" >Envoyer</ion-button>
      </div>
    
       
      </form>
</ion-content>
