<ion-app>
  <!-- <ion-router-outlet></ion-router-outlet> -->
  
    <ion-menu side="end" type="overlay" >
      <ion-header >
        <ion-toolbar color="primary">
          <ion-title style="background-color:white ;">SUNU MANKO</ion-title> 
          <!-- <img src="../../assets/img/logo_Manko.png"> -->
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
         
         <ion-item routerLink="/todo" style="color: green;">
          <ion-icon name="person-add" ></ion-icon>
          à faire
        </ion-item>
        <ion-item routerLink="/home" style="color: green;">
          <ion-icon name="list" ></ion-icon>
          Consultation
        </ion-item>
        
         <ion-item  routerLink="/garantliste" style="color: green;">
          <ion-icon name="list" ></ion-icon>
          Liste des garants
        </ion-item>
        <ion-item  routerLink="/login" style="color: green;">
          <ion-icon name="log-out" ></ion-icon>
          Déconnexion
        </ion-item>
 
       
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  
</ion-app>
