<ion-app>
  <!-- <ion-router-outlet></ion-router-outlet> -->
  
    <ion-menu side="end" type="overlay" >
      <ion-header >
        <ion-toolbar color="primary">
          <ion-title style="background-color:white ;">SUNU MANKO</ion-title> 
          <!-- <img src="../../assets/img/logo_Manko.png"> -->
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ul >
         <ion-item>
         <li >
         <a routerLink="/todo" style="color: green;">
          <ion-icon name="person-add" ></ion-icon>
          à faire
         </a>
      </li>
    </ion-item>
    <ion-item>
      <li>
        <a routerLink="/home" style="color: green;">
          <ion-icon name="list" ></ion-icon>
          Consultation
        </a>
      </li>
    </ion-item>
    <ion-item>
      <li>
         <a routerLink="/garantliste" style="color: green;">
          <ion-icon name="list" ></ion-icon>
          Liste des garants
         </a>
      </li>
    </ion-item>
    <ion-item>
      <li>
        <button   padding ion-item class="menu-btn" text-center style="color: green;"  (click)="Logout()" menuClose>
          <ion-icon name="log-out" ></ion-icon>
          Déconnexion
        </button>
      </li>
    </ion-item>
       
      </ul>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  
</ion-app>
