<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sticky">
    <ion-card >
        <ion-card-content style="text-align: center;">
          <p style="font-size: 20px;">
           Modification d'un garant       
          </p>
        </ion-card-content>
    </ion-card>

  <div [hidden]="submitted" >
    <div class="container">
    <form #userForm="ngForm" (ngSubmit)="update(userForm)">

      <div class="form-group">
                <label for="nom">Nom:</label>
                <input type="text" id="nom" class="form-control" id="nom" [value]="garant.nom" [(ngModel)]="garant.nom" name="nom" [pattern]="nomPattern" #nom="ngModel">
                <div *ngIf="nom.errors && userForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
                  <div *ngIf="nom.errors.pattern" class="error"> 
                   veuillez saisir un nom valide
                  </div>
              </div>
             </div>

              <div class="form-group">
                <label for="pren">Prénom:</label>
                <input type="text" id="pren" class="form-control" id="prenom"  [(ngModel)]="garant.prenom" name="prenom" [pattern]="nomPattern" #prenom="ngModel">
                <div *ngIf="prenom.errors && userForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
                  <div *ngIf="prenom.errors.pattern" class="error"> 
                    veuillez saisir un prenom valide
                  </div>
              </div>
   </div>
   <div class="form-group">
    <label for="tel">Telephone 1</label>
    <input type="tel" id="tel"class="form-control" id="telephone"  [(ngModel)]="garant.telephone" name="telephone" [pattern]="telephonePattern" #telephone="ngModel">
    <div *ngIf="telephone.errors && userForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
      <div *ngIf="telephone.errors.pattern" class="error"> 
        veuillez saisir un numéro valide
      </div>	
  </div>
  </div>
 
    <div class="form-group">
     <button type="submit" class="btn " >Valider</button>
    </div>
    </form>
  </div>
</div>
</div>
</ion-content>
