
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
      <ion-buttons slot="end" >
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
    <ion-title> Controle permanent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" id="carte">
      
       
        <ion-card-content style="text-align: center;">
          <p style="font-size: 20px;">
            liste des clients à visiter          
          </p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-list>
            <h2 *ngFor="let u of listuser">
              <ion-item>  
                {{u.telephone}} 
             <ion-button slot="end" color="energized" routerLink="/register"> <ion-icon name="add"></ion-icon></ion-button>
              </ion-item>
            </h2>
          
        
          </ion-list>
      </ion-card>
</ion-content>

  

