
  ion-item{
    margin-left: auto;
    margin-right: auto;  
    width: 350px;
}
ion-toolbar{
    background-color: green($color: #000000);
  }
  ion-title{
      color:  white;
  }
  ion-button{
      color:rgb(34, 173, 34);
      background: rgb(69, 196, 69);
  }
  ion-item{
    font-weight: bold;
  }
  ion-icon{
      color:white;
  }
  h2{
    color:#50A125; 
  }
  .iconSize {
    font-size: 50px;
  }
  .welcome-card{
    background-color: #e28008;
    color: white;
    text-align: center;
  }
  @supports(position: sticky){ ion-card{
    position: sticky;
    top: 0;
    }
    }
    ion-card{
      text-align: center;
      color: white;
      background-color:#e28008 ;
    }
  
